<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style>
    body {
      font-family: Arial, sans-serif;
      color: #333;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }
    .container {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      background-color: #ffffff;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .header {
      text-align: center;
      background-color: green;
      color: white;
      padding: 10px 0;
    }
    .header h1 {
      margin: 0;
      font-size: 24px;
    }
    .content {
      margin: 20px 0;
    }
    .content p {
      line-height: 1.5;
      font-size: 16px;
    }
    .footer {
      margin-top: 20px;
      text-align: center;
      font-size: 12px;
      color: #888;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>Order Creation Notification</h1>
    </div>
    <div class="content">
      <p>Dear <%= @customer[:name] %>,</p>

      <p>We are writing to inform you that your recent order with us (Order ID: <%= @order[:id] %>) has been successfully created from our system as per your request.</p>

      <p><%= @order[:recurring] ? "Here,your order has been scheduled from #{@order[:recurring][:started_at][0,10]} to #{@order[:recurring][:end_at][0,10]} for #{@order[:recurring][:frequency]}" :
      "Here, your order has been scheduled for #{@order[:started_at][0, 10]} " %></p>

      <p>If this was done in error or you have any further questions regarding your order, please feel free to contact us at <a href="mailto:bootcamp@fleetpanda.com">bootcamp@fleetpanda.com</a>.</p>

      <p>Thank you for choosing <%= @organization[:name] %>.</p>

      <p>Best regards,<br>The <%= @organization[:name] %> Team</p>
    </div>
    <div class="footer">
      <p>&copy; <%= Time.now.year %> <%= @organization[:name] %>. All rights reserved.</p>
    </div>
  </div>
</body>
</html>
